---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";


export async function getStaticPaths() {
    // Obtener todos los posts de la colección "blog"
    const posts = await getCollection("blog");

    return posts.map((post) => ({
        params: { slug: post.slug }, // Generar una página por cada post
    }));
}

// Obtener el `slug` de la URL actual
const { slug } = Astro.params;

// Buscar el post en la colección
const post = (await getCollection("blog")).find((p) => p.slug === slug);

// Si no se encuentra el post, lanzar error 404
if (!post) {
    throw new Error(`Post not found: ${slug}`);
}

// Extraer datos del frontmatter
const { title, date, description } = post.data;
---

<Layout
        title="Bautista Mendibe - Ingeniero y desarrollador con 3 años de experiencia"
        description="Contrata a Bautista Mendibe para crear tu aplicación web o móvil. Desarrollador Web. Especializado en crear aplicaciones únicas."
>
    <article class="max-w-3xl mx-auto px-4 sm:px-6 py-6">
        <h1 class="text-3xl sm:text-4xl font-bold text-gray-900 dark:text-white mb-4 mt-8 sm:mt-12">
            {title}
        </h1>
        <p class="text-sm sm:text-base text-gray-500">{date}</p>
        <p class="mt-2 sm:mt-4 text-base sm:text-lg text-gray-700 dark:text-gray-300">
            {description}
        </p>

        <div class="prose dark:prose-invert mt-6 max-w-6xl justify-center text-justify" set:html={post.body} />

    </article>
</Layout>


